/* App.css */
body{
  background-color: black
}
/* src/App.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .animate-fade-in {
    animation: fade-in 2s ease-in-out forwards;
  }
}


.spline-scene {
    transform: scale(1.1);
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
    cursor: default;
  }
  
  @media (max-width: 640px) {
    /* Small screens */
    .spline-scene {
      transform: scale(1.20);
    }
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    /* Medium screens */
    .spline-scene {
      transform: scale(1.20);
    }
  }
  
  @media (min-width: 1024px) {
    /* Large screens */
    .spline-scene {
      transform: scale(1.25);
    }
  }
  

  .chevrons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .chevron {
    opacity: 0;
    transform: translateY(0);
  }
  
  .chevron-animate {
    animation: chevron-animation 2s infinite;
  }
  
  @keyframes chevron-animation {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    25% {
      opacity: 1;
      transform: translateY(0);
    }
    50% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 0;
      transform: translateY(10px);
    }
  }
  
  .chevron:nth-child(1) {
    animation-delay: 0s;
  }
  .chevron:nth-child(2) {
    animation-delay: 0.2s;
  }
  .chevron:nth-child(3) {
    animation-delay: 0.4s;
  }
  

/* src/App.css */

/* Define keyframes for the scrolling animation */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Apply the scrolling animation to elements with the 'animate-scroll' class */
.animate-scroll {
  animation: scroll 30s linear infinite;
}

/* Pause the animation when hovered */
.relative:hover .animate-scroll {
  animation-play-state: paused;
}
