/* App.css */

.spline-scene {
    transform: scale(1.1);
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
    cursor: default;
  }
  
  @media (max-width: 640px) {
    /* Small screens */
    .spline-scene {
      transform: scale(1.20);
    }
  }
  
  @media (min-width: 768px) and (max-width: 1023px) {
    /* Medium screens */
    .spline-scene {
      transform: scale(1.20);
    }
  }
  
  @media (min-width: 1024px) {
    /* Large screens */
    .spline-scene {
      transform: scale(1.25);
    }
  }
  